<launch>
  <arg name="debug_directory" value="$(env HELLO_FLEET_PATH)/debug/"/>
  <!-- handle command node -->
  <node name="handle_command" pkg="robot_manipulation" type="handle_command.py" output="screen" >
    <param name="debug_directory" type="string" value="$(arg debug_directory)"/>
  </node>
</launch>
